
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/Slider1.jpg" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
                <img src="~/Images/Slider2.jpg" alt="Chicago" style="width:100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<div class="row">
    <div class="col-md-4">
        <center><img src="~/Images/Gears.gif" height="150" width="150" /></center>
        <p>
            Run your business side anywhere
            With our cloud-based technology, we offer solutions that help medical professionals always know what is happening.
        </p>
    </div>
    <div class="col-md-4">
        <center><img src="~/Images/icon-help-150x150.gif" height="150" width="150" /></center>
        <p>
            Help when you need it
            Support beyond the standard expectation. If you need help, we have skilled consultants that can give you advice based on your unique practice requirements.
        </p>
    </div>
    <div class="col-md-4">
        <center><img src="~/Images/icon-solution-1-150x150.gif" height="150" width="150" /></center>
        <p>
            A solution for every speciality
            We’ve got you covered, from general practice to optometry. We have the tools and resources you need to give your patients better care, and grow your practice.
        </p>
    </div>
</div>
@*@section scripts{
        <script>
            $('.carousel').carousel()
        </script>
    }*@